.show-details:hover{
  cursor: click;
}

/*.table>.namesort:hover, .table>.teamsort:hover, .table>.positionsort:hover{
  background-color: lightgrey;
  cursor: pointer;
}*/

img {
  max-width: 100%;
  height: auto;
}

.outerbox {
  width: 120px;
  height: 120px;
  height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}

.table>.playerdetails{
  border: 1px solid black;
}